/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: 'Helvetica Neue', 'Helvetica', sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #A80014; color: #fff; text-shadow: none; }
::selection { background: #A80014; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Marco Moreira (@phmarco) - Easy Tomato Team
   ========================================================================== */

/*--------- GLOBALS ------------*/
body{
    background:url("../img/bodybg.png") repeat-x scroll 0px 0px transparent;
    font-size: 10pt;
}

#main{
    background:url("../img/contentbg.png") repeat scroll 0px 0px transparent;
    border: 1px #AAA solid;
    border-top: 0;
}

.fade { opacity: .6 !important; }
.fade:hover { opacity: .6 !important; }
.fademe { opacity: .6; }
.fademe:hover, .fademe:active { opacity: 1; }
.float_left { float:left; }
.float_right { float:right; }
.grayme{ color: #666 !important; }
.greenme { color: #339900 !important; }
.hideme { display: none !important; }
.info_trig{
    background:url("../img/sprite.png") no-repeat scroll -10px -1400px transparent;
	text-indent: -9001em;
	display: inline-block;
	height: 16px;
	width: 16px;
}
.invisible{visibility: hidden;}
.lock_arrow_button{ background: url("../img/sprite.png") no-repeat scroll -10px -649px transparent; }

.pretty_check{
    background:url("../img/sprite.png") no-repeat scroll -10px -550px transparent;
	text-indent: -9001em;
	display: inline-block;
}
.pretty_check_off{
    background:url("../img/sprite.png") no-repeat scroll -10px -600px transparent;
	height: 13px;
	width: 13px;
}
.pretty_check_on{
	height: 16px;
	width: 16px;
}
a.nicebutton {
	background: url("../img/sprite.png") repeat-x scroll 0 -230px transparent;
	border: 1px solid #777;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	padding: 3px 10px 4px;
	color: black;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px white;
}

a.nicebutton:hover{
	background-position: 0 -1800px;
	border-color: #333;
}

a.nicebutton span {
	display: block;
    padding-left: 18px;
}
.noclick { cursor: default; }



/*--------- Layout: Footer ------------*/
#footer{
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	text-shadow: 0 1px white;
	font-size: 8pt;
	color: #777;
}


/*--------- Layout: Header ------------*/
#header{
    background:url("../img/sprite.png") repeat-x scroll 0px -136px transparent;
    border-left: 1px #A80014 solid;
    border-right: 1px #A80014 solid;
	margin-bottom: 0;
	height: 50px;
	color: #FFF;
	
}

#header .advanced_box{
	margin-right: 10px;
	float: right;
}

#header h1 {
	text-align: center;
	margin: 0;
	font-size: 24pt;
	line-height: 47px;
	text-shadow: 0 2px #990013;
}
#header .home_link{
    background:url("../img/sprite.png") repeat-x scroll -10px 0px transparent;
    display: block;
    text-indent: -9001em;
    height: 44px;
    width: 44px;

}
#header p {
	margin: 5px 0;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	text-shadow: 0 1px #990013;
}
#header p a{
	color: #FFF;
	text-decoration: none;
	font-weight: normal;
}



/*--------- Layout: Top navigation ------------*/
#topnav{
	text-align: center;
	border-top: 10px #EEE solid;
	margin-bottom: 20px;
}

#topnav ul{
	margin: 0;
	padding: 0;
	border-top: 1px #AAA solid;
}

#topnav ul li {
	margin: -1px 2px 0 2px;
	display: inline-block;
	border: 1px #AAA solid;
	background: #E6E7E8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#topnav ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #777;
	text-shadow: 0 1px white;
	text-decoration: none;
	padding: 4px 20px 3px 20px;
	display: block;
	height: 23px;
}

#topnav ul li a:hover {
	color: #000;
}

#topnav ul li.active_tab {
    background:url("../img/sprite.png") no-repeat scroll 0px -225px transparent;
    border-top: 1px #EEE solid;
}

#topnav ul li.active_tab a{
	color: #000;
}




/*--------- Groups: Content ------------*/

.content_bar{
    background:url("../img/sprite.png") repeat-x scroll 0px -220px transparent;

	height: 36px;
	font-size: 12pt;
	font-weight: bold;
	text-shadow: 0 1px white;
	margin-bottom: 20px;
}


.content_bar .bar_options {
	border: 1px solid #EFEFEF;
	outline: 1px solid #AAA;
	height: 27px;
	text-align: left;
	margin: 0 1px;
	font-size: 11pt;
	padding-top: 6px;
}


.content_bar .bar_title {
	border: 1px solid #EFEFEF;
	outline: 1px solid #AAA;
	height: 33px;
	text-align: center;
	margin: 0;
}
.content_bar .bar_title p{
	margin: 5px 0 0 0;
}

.content_bar .bar_title p{
	margin: 5px 0 0 0;
}


.content_bar p{}

.content_bar .new_group_trig_box{
    background:url("../img/sprite.png") repeat-x scroll 0px -380px transparent;
    border: 1px solid #00B54D;
	outline: 1px solid #006838;
	margin: 0;
	width: 152px;
}

.content_bar .new_group_trig {
	background: url("../img/sprite.png") no-repeat scroll -355px -1395px transparent;
	padding: 5px 0 0 40px;
	color: white;
	text-decoration: none;
	text-shadow: 0 1px #006838;
	height: 28px;
	display: block;
}


.content_bar .univ_block_box{
	margin: 0 25px 0 10px;
	line-height: 15px;
}
.content_bar .univ_block_box a{}
.content_bar .univ_block_box a{}





/*--------- Groups: Groups boxes ------------*/
.group_boxes{}

.group_boxes .devices_box {
	border: 1px #CCC solid;
	background: white;
	padding: 5px;
	text-align: left;
	margin: 4px 0;
}
.group_boxes .devices_box ul{
	height: 160px;
	overflow-y: auto;
}

.group_boxes .devices_box li{
	position: relative;
	padding: 5px 0 5px 25px;
	margin: 2px 0;
	font-weight: bold;
	text-shadow: 0 1px white;
}

.group_boxes .devices_box li a.box_handle{
	background: url("../img/sprite.png") no-repeat scroll -377px -650px transparent;
	text-indent: -9001em;
	display: inline-block;
	height: 18px;
	width: 14px;
	position: absolute;
	top: 5px;
	left: 5px;
}
.group_boxes .devices_box li .info_trig{}
.group_boxes .devices_box li.shademe{
	background: #EEE;
}

.group_boxes .devices_box li span{}

.group_boxes .group_box {
	background: #EEE;
	box-shadow: 0px 0px 5px #555;
	border-radius: 5px;
	padding: 2px 5px;
	width: 210px;
	text-align: center;
	margin: 0 20px 25px 0px;
}

.group_boxes .group_box.omega {
	margin-right: 0;
}
.group_boxes p{
	font-size: 12pt;
	font-weight: bold;
	text-shadow: 0 1px #FFF;
	margin: 2px 0;
}








/*--------- Groups: Sidenav ------------*/
.groups_sidenav{}

.sidenav .device_list {
	margin: 1px 0 1px 0;
	padding: 0;
	background: #DCECFC;
}
.sidenav .device_list li {
	margin: -1px -1px -1px -1px;
	padding: 3px 10px 3px 35px;
	list-style: none;
	border: 1px #0088DE solid;
	text-shadow: 0 1px white;
	position: relative;
}
.sidenav .device_list li .box_handle {
	background: url("../img/sprite.png") no-repeat scroll -377px -650px transparent;
	text-indent: -9001em;
	display: inline-block;
	height: 18px;
	width: 14px;
	position: absolute;
	top: 15px;
	left: 10px;
}
.sidenav .device_list li.hoverme{
	background: #FFF6A6;
	border-color: #FFCF2F;
	z-index: 1;
	text-shadow: none;
}

.sidenav .device_list li .info_trig {
	float: right;
}

.sidenav .device_list li p {
	font-size: 12pt;
	font-weight: bold;
}
.sidenav .device_list li span{}
.sidenav .device_list li span.float_right{}


.sidenav .sidenav_footer{
	background: url("../img/sprite.png") repeat-x scroll 0px -440px transparent;
	border: 1px #26A9E0 solid;
	outline: 1px #00376E solid;
	text-align: center;
	padding: 5px;
}

.sidenav .sidenav_header {
	background: url("../img/sprite.png") repeat-x scroll 0px -440px transparent;
	border: 1px #26A9E0 solid;
	outline: 1px #00376E solid;
	text-align: center;
	padding: 2px 5px 5px 5px;
}

.sidenav .sidenav_header .extra_info {
	font-size: 11px;
	font-weight: normal;
}

.sidenav .sidenav_header p {
	font-weight: bold;
	color: white;
	text-shadow: 0 1px black;
	font-size: 13pt;
}








































/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}




/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}







